.labels {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000;
}

.table_width {
    width: 97%;
}

.login_text {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

.login-bg {
    background-color: white;
    height: 500px;
}

.login-bg2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/login-bg.png');
}