<div class="login-bg2">
    <div class="card border border-1 w-25 p-4 login-bg">
        <div class="mt-3">
            <span class="login_text">Change Password</span><br>
            <img src="../../../assets/line.svg" style="margin-top: -25px;" />
        </div>
        <div class="mt-4">
            <span class="login_text_2"><b>Welcome back!</b><br> change password by giving below credentials</span>
        </div>
        <form [formGroup]="changePasswordForm">
            <div class="mt-4 d-flex input_div">
                <img src="../../../assets/user.svg" class="me-3 ms-3" style="height: 14px;width: 14px;" />
                <input class="input" id="userName" placeholder="User Name" formControlName='userName' maxlength="10"
                    minlength="10" type="text" />
            </div>
            <div *ngIf="f['userName'].touched && f['userName'].invalid" class="invalid-feedback">
                <div *ngIf="f['userName'].errors && f['userName'].errors['required']">User Name is Mandatory
                </div>
            </div>
            <div class="mt-4 d-flex input_div">
                <img src="../../../assets/PasswordIcon.svg" class="me-3 ms-3" style="height: 14px;width: 14px;" />
                <input id="password" class="input" [type]="showPassword ? 'text' : 'password'" placeholder="New Password"
                    type="password" formControlName='password'>
                <img src="../../../assets/hide.png" *ngIf="!showPassword" (click)="togglePasswordVisibility()"
                    class="me-1 ms-1" style="height: 24px;width: 24px;" />
                <img src="../../../assets/show.png" *ngIf="showPassword" (click)="togglePasswordVisibility()"
                    class="me-1 ms-1" style="height: 24px;width: 24px;" />
            </div>
            <div *ngIf="f['password'].touched && f['password'].invalid" class="invalid-feedback">
                <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is Mandatory
                </div>
            </div>
            <div class="mt-4 d-flex input_div">
                <img src="../../../assets/PasswordIcon.svg" class="me-3 ms-3" style="height: 14px;width: 14px;" />
                <input id="password" class="input" [type]="showPassword ? 'text' : 'password'" placeholder="Confrim Password"
                    type="password" formControlName='newpassword'>
                <img src="../../../assets/hide.png" *ngIf="!showPassword2" (click)="togglePasswordVisibility2()"
                    class="me-1 ms-1" style="height: 24px;width: 24px;" />
                <img src="../../../assets/show.png" *ngIf="showPassword2" (click)="togglePasswordVisibility2()"
                    class="me-1 ms-1" style="height: 24px;width: 24px;" />
            </div>
            <div *ngIf="f['password'].touched && f['password'].invalid" class="invalid-feedback">
                <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is Mandatory
                </div>
            </div>
            <button class="mt-5 w-100 login_button" type="submit" (click)="changePassword()"
                [disabled]="!changePasswordForm.valid">Update Password</button>
        </form>
    </div>
</div>